name: mypy

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v4
      - name: Test with mypy (test directory only)
        run: uv run --extra dev-nn --python 3.14 --with types-PyYAML mypy tests
